@import "variables";

@mixin underline {
  width: 8px;
  height: 2px;
  background: $red;
}

@mixin icon {
	border: $grey-border;
	display: inline-block;
	font-size: 16px;
	transition: $transition;
	&:hover {
		color: #fff;
		background: $red;
		cursor: pointer;
	}
}

@mixin upperCase {
	font-weight: bold;
	text-transform: uppercase;
}