@import "fonts.scss";

$text-color: #444444;
$red: #e24545;
$bg-light-grey: #f6f6f6;
$bg-dark-grey: #e6e6e6;

$base-font: "Montserrat", sans-serif;

$black-border: 2px #000 solid;
$grey-border: 1px #eeeeee solid;

$transition: top 1s ease-out 3s;

